{
  "plugins": [
    ["prismjs", {
        "languages": ["svg"],
        "plugins": ["inline-color", "copy-to-clipboard", "highlight-keywords"],
        "theme": "coy",
        "css": true
    }]
  ]
}
